<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-chooser" 
	version="1.2.5"
>	
	<name>Chooser</name>
	<author>Cyph, Inc.</author>

	<js-module src="www/chooser.js" name="Chooser">
		<clobbers target="chooser" />
	</js-module>

	<platform name="android">
		<source-file src="src/android/Chooser.java" target-dir="src/com/cyph/cordova" />
		<source-file src="src/android/filepath.xml" target-dir="res/xml" />

		<config-file target="config.xml" parent="/*">
			<feature name="Chooser">
				<param name="android-package" value="com.cyph.cordova.Chooser" />
			</feature>
		</config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.CAMERA"/>
			<uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<provider
				android:name="android.support.v4.content.FileProvider"
				android:authorities="app.itvmedia.cn.fileprovider"
				android:exported="false"
				android:grantUriPermissions="true">
				<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/filepath" />
			</provider>
        </config-file>
        <config-file target="res/values/strings.xml" parent="/*">
			<plurals name="error_over_count">
				<item quantity="one">最多选择一个文件</item>
				<item quantity="many">最多选择 %1$d 个文件</item>
			</plurals>
        </config-file>
		<framework src="chooser.gradle" custom="true" type="gradleReference" />
	</platform>

	<platform name="ios">
		<source-file src="src/ios/Chooser.swift" />
		<dependency id="cordova-plugin-add-swift-support" version="*" />

		<config-file target="config.xml" parent="/*">
			<feature name="Chooser">
				<param name="ios-package" value="Chooser" />
			</feature>
		</config-file>
	</platform>
</plugin>
